*{margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
}
.text_light_gray{
font-size: 16px;
line-height: 32px;
color: rgba(255, 255, 255, 0.64);
}
.text_dark_gray{
font-size: 16px;
line-height: 32px;
color: rgba(57, 20, 0, 0.64);
}
.text_light_accent{
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
}
.text_light{
font-weight: 800;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;
}
.text_light_middle{
font-size: 20px;
line-height: 32px;
color: #FFFFFF;
}
.bigtext_light{
font-weight: 800;
font-size: 72px;
line-height: 80px;
letter-spacing: -2px;
color: #FFFFFF;
}
.bigtext_dark{
font-weight: 800;
font-size: 56px;
line-height: 64px;
letter-spacing: -1px;
color: #391400;
}
.text_dark{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
}
.text_dark_mini{
    font-size: 20px;
    line-height: 32px;
    color: #391400;
}
.text_dark_middle{
font-weight: 800;
font-size: 40px;
line-height: 48px;
color: #391400;
}
.button_dark{
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 18px 35px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.295);
}
.orange_button{
font-weight: 900;
font-size: 14px;
line-height: 14px;
text-transform: uppercase;
color: #FFFFFF;
border: none;
padding: 18px 26px;
background-color:#EF6D58 ;
border-radius: 6px;
width: 154px;
}
.button_light{
font-weight: 900;
font-size: 14px;
line-height: 14px;
text-transform: uppercase;
color: #000000;
border: none;
padding: 18px;
background-color:#ffffff ;
border-radius: 6px;
width: 170px;
box-shadow: #a7a8c728 0 0 5px 5px;
}
.button_light:active,.button_dark:active{
    background-color:#EF6D58 ;
}
.orange_button:active{
    background-color: #FDF0E9;
    color: #391400;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
/* конец общих стилей конец общих стилей конец общих стилей */
.header{
    background-color: #2F3048;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.nav__links{
    display: flex;
    gap: 93px;
    list-style: none;
}
.nav__link{
    text-decoration: none;
font-size: 16px;
line-height: 32px;
text-align: center;
color: #FFFFFF;
}
.nav__link:hover{
    color:#EF6D58 ;
}
.nav__menu{
    display: none;
}
/* конец подблока навигация */

.header__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__title{
    text-align: center;
    padding: 100px 0 24px;
}
.header__text{
    text-align: center;
    width: 570px;
    padding-bottom: 66px;
}
/* конец блока header */

.contacts{
 background-image: url(../image_ex/map.png);
 background-size: cover;
}
.contacts_map{
    display: none;
    background-image: url(../image_ex/map.png);
    background-size: cover;
    display: flex;
    justify-content: center;
}
.contacts__main{
    display: flex;
    padding: 128px 0 128px;
    align-items: center;
    gap: 300px
}
.contacts__title{
    padding: 20px 0 28px;
}
.contacts_form{
display: flex;
flex-direction: column;
padding: 57px 48px 48px;
background-color: white;
gap: 20px;
}
.contacts__main::after{
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../image_ex/Shape\ \(4\).png);
    width: 80px;
    height: 80px;
    background-color: #EF6D58;
    display: flex;
    border-radius: 50%;
}
.contacts__email{
    padding: 9px 16px;
    width: 442px;
    border: 1px solid #ef6c5880;
    border-radius: 6px;
}
.contacts__subject{
    padding: 9px 16px;
    width: 475px;
    border: 1px solid #ef6c5880;
    border-radius: 6px;
}
.contacts__message{
    padding: 9px 16px;
    width: 442px;
    border: 1px solid #ef6c5880;
    border-radius: 6px;
    height: 127px;
    resize: none;
}
.contacts__text{
    width: 470px;
}
.contacts_map1{
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #EF6D58;
    border-radius: 50%;
}
/* конец блока активити конец блока активити */
.contact{
    background-color: #FDF0E9;
}
.contact__global{
    display: flex;
    padding: 80px 0;
}
.contact__item{
    padding: 38px 48px;
    width: 295px;
    border: #F3D1BF 1px solid;
}
.contacts__buttonbox{
    display: flex;
    justify-content: end;
}
.contact__name,.contact__name2,.contact__name3{
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 26px;
}
.contact__name3::before{
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../image_ex/Shape\ \(2\).png);
    width: 48px;
    height: 48px;
    background-color: #EF6D58;
    display: flex;
    border-radius: 50%;
}
.contact__name::before{
    content: "";
    background-image:url(../image_ex/Path\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    background-color: #EF6D58;
    display: flex;
    border-radius: 50%;
}
.contact__name2::before{
    content: "";
    background-image: url(../image_ex/Shape\ \(3\).png);
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    background-color: #EF6D58;
    display: flex;
    border-radius: 50%;
}
/* конец блока контакты конец блока контакты */
/* конец блока фидбэк конец блока фидбэк конец блока фидбэк */
.questions{
    background-color: #FDF0E9;
}
.questions__title{
    padding: 17px 0 31px;
}
.questions__contact{
    padding-top: 29px;
}
.questions__text{
    width: 470px;
    font-size: 16px;
}
.questions__link{
    padding: 40px 50px;
    background-color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.questions__main{
    display: flex;
    justify-content: space-between;
    padding: 140px 0 130px;
}
.questions__linkheader1{
    padding-bottom: 35px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.questions__linkheader{
    border: #F3D1BF 1px solid;
    font-size: 24px;
    padding: 40px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.questions__linkheader:last-child{
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.questions__linkheader1::after{
    content: url(../image_ex/up.png);
    display: flex;
    align-items: center;
}
.questions__linkheader::after{
    content: url(../image_ex/down.png);
    width: 32px;
    height: 32px;
}
/* конец блока инфо *//* конец блока инфо *//* конец блока инфо *//* конец блока инфо */
.footer{
    background-color: #FDF0E9;
}
.footer__main{
    display: flex;
    justify-content: space-between;
    padding: 89px 0 68px;
}
.footer__title{
    font-weight: bold;
    font-size: 24px;
}
.footer__item{
    font-size: 16px;
    list-style: none;
    padding-top: 15px;
}
.footer__item:first-child{
    padding-top: 0;
    padding-bottom: 30px;
}
.footer__links{
    display: flex;
    gap: 8px;
}
.footer__postfooter{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #F3D1BF;
    padding: 43px 0 52px;
}
.footer__privacybox{
    display: flex;
    gap: 68px;
}
.footer__box{
    display: flex;
    background-color:#EF6D58 ;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}


/* конец основного сайта */
@media screen and (max-width:768px) {
      .wrapper{
    width: 100%;
    }
    .footer__main,.footer__postfooter{
        flex-direction: column;
        align-items: center;
        gap: 51px;
    }
    .footer__text{
        width: 198px;
        text-align: center;
    }
    .footer__menu{
        text-align: center;
    }
    /* конец футера конец футера */
    .contact__main{
        flex-direction: column;
        gap: 30px;
        padding: 32px 0px 48px;
        padding-left: 23px;
        align-items: center;
    }
    .contact__image{
        order: -1;
        padding: 0;
    }
    .contact__pic{
        width:90%;
    }
    .contact__text{
        width: 329px;
        padding: 0;
    }
    .contact__info{
        padding: 0;
    }
    /* конец футера конец футера *//* конец футера конец футера */
    .nav__menu{
        display: block;
        padding-right: 46px;
    }
    .nav__button,.nav__links{
        display: none;
    }
    .nav{
        padding: 16px 23px;
        justify-content: space-between;
    }
    .header__title{
        font-size: 56px;
        line-height: 64px;
    }
    .header__info{
        padding: 23px;
    }
    .header__text{
        width: 90%;
    }
    .bigtext_light,.bigtext_dark{
        font-size: 40px;
        line-height: 48px;
    }
    .questions__logo{
        width: 147px;
        padding-top: 40px;
    }
    .questions__main{
        flex-direction: column;
        gap: 36px;
        padding: 0px 0px 98px;
        align-items: center;
    }
    .questions__text{
        width: 70%;
    }
    .questions__linkheader{
        width: 309px;
        font-size: 24px;
        line-height: 32px;
        padding: 25px;
    }
    .questions__info{
        padding: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .questions__link{
        width: 283px;
        height: 417px;
    }
    /* конец блока вопросы кнец блока вопросы */
    .contact__global{
        flex-direction: column;
        padding: 23px 0;
        align-items: center;
    }
    /* конец блока префутер конец блока префутер */
    .contacts__main{
        flex-direction: column;
    }
    .contacts__main::after{
        content: none;
    }
    .contacts_form{
        width: 80%;
        padding: 57px 27px 48px;
    }
    .contacts__text{
       width: 250px;
}
    .contacts__formtitle,.contacts__email,.contacts__message{
        width: 90%;
    }
     .contacts__subject{
         width:97% ;
     }
     .contacts_map{
         display: flex;
         justify-content: center;
         align-items: center;
         width: 90%;
         height: 700px;
     }
     .contacts_map1{
         display: flex;
     }
     .contacts{
        background-image: none;
        background-color: #FDF0E9;
        padding: 23px;
        display: flex;
        flex-direction: column;
        align-items: center;
       }
}